[packages]
black = "*"
flake8 = "*"
isort = "*"
loguru = "*"
mkdocs = "*"
pip = "*"
python-dotenv = "*"
tqdm = "*"
typer = "*"
"multilabel_text_classification" ={editable = true, path = "."}

[requires]
python_version = "3.12"